<div class="modal-body">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <label for="email">Email address</label>
      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "radius form-control" %>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "radius form-control" %>
    </div>
    <div class="form-group">
      <label for="password_confirmation">Confirm password</label>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "radius form-control" %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="switch round small mb1">
        <div class="inline-block left prm"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      </div>
    <% end -%>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
