<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<div class="container">
  <% @split_items.each do |items_row| %>
    <div class="row">
      <% items_row.each do |item| %>
        <div>
          <h4><%= item.name %></h4>
          <ul>
            <li>$<%= item.price %></li>
            <li><img src="<%= item.image %>" /></li>
            <li><%= link_to 'Show', item %></li>
          </ul>
        </div>
      <% end %>
    </div> <!-- row div -->
    <br>
  <% end %>
</div> <!-- container div -->
