<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="container pantry-title">
  <h1>Pantry</h1>
</div>

<div class="container">
  <% @split_items.each do |items_row| %>
    <div class="row">
      <% items_row.each do |item| %>
        <div class="col-md-4 col-xs-4">
          <h4><%= item.name %></h4>
          <div class="container">
            <div>
              <img src="<%= item.image %>" />
            </div>
            <ul>
              <li>Price: $<%= item.price %></li>
              <li><%= link_to 'View Item', item %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div> <!-- row div -->
    <br>
  <% end %>
</div> <!-- container div -->
