<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Asin:</strong>
  <%= @item.asin %>
</p>

<%if signed_in?%>
  <form id="item_quantity" method="post" action=<%=add_to_cart_path(@item)%>>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    Quantity:
    <input type="number" name="quantity" min="1" max="10" value="1">
    <input type="submit" value="Add to Cart">
  </form>
<%end%>

 |
<%= link_to 'Back', items_path %>
