<head>
<title>generocity | live generously</title>
<a href="/"><%= image_tag 'generocitylogo.png', class: "logo" %></a>
<div class="jumbotron">
  <div class="container">
    <ul class="nav nav-pills pull-right">
        <%if signed_in?%>
        <li><%= link_to "Profile", user_path(:id) %></li>
        <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <li>
          <%= link_to cart_path do%>
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            My Cart
            (<span class="cart-count"><%=current_user.cart_count%></span>)
          <%end%>
        </li>
      <%else%>
      <!-- Register modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Register</button>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Register">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <%= render 'devise/registrations/new' %>
            </div>
          </div>
        </div>
        <!-- Login modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Login</button>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Login">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <%= render 'devise/sessions/new' %>
            </div>
          </div>
        </div>
      <%end%>
      </li>
    </ul>
  </div>
</div>
</head>